*{
    margin: 0;
    background-color: #E8873B;
}
.header {
    background-color: #D5772C;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
}
.parro{
    background-color: #D5772C;
    margin-right: 45px;
}
.sarro-container {
    background-color: #D5772C;
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    flex: 1; 
}

.carro {
    background-color: #D5772C;
    margin-right: 20px; 
}
img{
    background-color: #D5772C;
}
a{
    background-color: #D5772C;
}
.h1-home{
    font-size: 50px;
    text-align: center;
    margin-top: 45px;
    font-family: "Inder", serif;
    font-weight: 400;
    font-style: normal;
}
.img-delivery{
    margin-top: 30px;
    text-align: center;
}
.footer-home{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: center;
} 
.grupo{
    text-align: center
}